@media screen and (max-width: 480px) {

#menu-responsive-select { 
	position: static;
	display: block!important; }

#menu-responsive-select { 
	position: static; 
	top: 143px; 
	padding-top: 0px;
	display: block;
	width: 100%; }

#menu-responsive-select label {
	display: none; }

#menu_container { 
	display: none!important; }
}



@media screen and (max-width: 480px) {
	#site-title { 
		padding-top: 150px; 
		padding-left: 0px; }
	#site-title #logo img {}
}


@media screen and (max-width: 480px) {

.home-welcome-text p {
	color: #FFF; 
	font-weight: 600; }

}