@charset "utf-8";

/*------  @Media Screen Width Settings -------*/


@media screen and (min-width: 1280px) { 


}


@media screen and (min-width: 1440px) { 


}


@media only screen and (orientation: landscape) {


}
	

@media only screen and (orientation: portrait) {



}


@media screen and (min-width: 768px) {

#menu-responsive-select { 
	position: static;
	display: block!important; }
#menu-responsive-select { 
	position: static; 
	top: 143px; 
	padding-top: 0px;
	display: block;
	width: 100%; }
#menu-responsive-select label {
	display: none; }
#menu_container { 
	display: none } }

@media screen and (min-width: 640px) {

	#nav a,
	#nav a:hover { font-size: .7em; font-weight: normal; }

	#menu_container,
	#header_container .company-number { 
		display: none }

	#menu-responsive-select { 
		position: static; 
		top: 143px; 
		padding-top: 0px;
		display: block;
		width: 100%; }
		
	#menu-responsive-select label {
		display: none; }

	.page #subhead_container .right #s,
	#subhead_container .right #s { 
		width: 170px }
	
	.page #subhead_container p,
	#subhead_container p,
	#subhead_container.page p, 
	.page #subhead_container.page p {
		font-size: .855em;
		padding: 0px;
		margin: 0px; }
	
	
	.large-8.columns,
	.large-4.columns.right { }

	.dataservices ul.inline-list li a span { 
		font-weight: normal; 
		font-size: .7em; }


	#sidebar { 
		float: none; 
		margin-top: 20px; 
		padding-top: 40px; 
		border-top: 1px #CCC solid; }

	#sidebar .widget-area  {
		padding: 0px; }
	
	#sidebar,
	#sidebar div ul div div {
		text-align: center; 
		float: left!important }

	#sidebar div ul div div {
		margin-right: 10px }
		
	#footer_container .icons { 
		text-align: left; }

}


@media screen and (max-width:640px) and (min-width: 480px),
screen and (max-width:480px) and (min-width: 320px),
screen and (max-width:320px) and (min-width: 0px)
{
	
	#nav a,
	#nav a:hover { font-size: .6em; font-weight: normal; }

	#header_container_outside { margin-bottom: 30px; }
	#header_container {  background-position: 100px 0px }
	
	#header_container .social_networks { width: 90px; }
	#header_container .social_networks div { display: none; }
	
	#header_container { height: 160px; }
	#header_container #logo { }
	#header_container #logo a img { max-height: 100px; }
	
	#menu_container,
	#header_container .company-number { 
		display: none }

	#menu-responsive-select { 
		position: static; 
		top: 143px; 
		padding-top: 0px;
		display: block;
		width: 100%; }
		
	#menu-responsive-select label {
		display: none; }
		
	#menu-responsive-select .custom.dropdown.large {
		float: left; }

	#subhead_container, 
	#subhead_container.page, 
	.page #subhead_container,
	.page #subhead_container.page {
			text-align: left }
	
	.page #subhead_container p,
	#subhead_container p,
	#subhead_container.page p, 
	.page #subhead_container.page p {
		font-size: .9em;
		padding: 0px;
		margin: 0px; }
	
	#subhead_container.page #container.row { 
		border-bottom: none!important;}


	#sidebar{  
		float: none; }
	
	#sidebar #primary .textwidget a { 
		 display: block;
		 text-align: center; }
	
	#footer_container .icons { 
		text-align: left; }

}



@media screen and (max-width:480px) and (min-width: 320px), 
screen and (max-width:320px) and (min-width: 0px){

	html, 
	body, 
	#wrapper{
		min-width: 320px; }
		
	#header_container {  background-position: 50px 0px }
	
	#header_container .social_networks { width: 90px; }
	#header_container .social_networks div { display: none; }

	#header_container #logo a img { max-height: 80px; }

	#subhead_container .large-4.columns.right, 
	#subhead_container.page .large-4.columns.right {
		display: none;}
	
	.dataservices ul.inline-list li a span { 
		font-weight: 600; 
		font-size: .8em; }
	
	.dataservices ul.inline-list li { 
		width: 90%; 
		margin-bottom: 5px; }
	


	table.table-data td {
		padding: 2px; }
		
	table.table-data table.table-data td {
		padding: 2px; }
	
	table.table-data tr th {
		font-size: .8em; }
	
	table.table-data tr td {
		font-size: .8em; }
	 
	table.table-data tr td a {
		font-size: .8em;
		white-space: pre-wrap; }
	
	table.table-data tr td h3.subheader,
	table.table-data tr th h3.subheader {
		font-size: 1.2em;
		white-space: pre-wrap!important; }
	
}

